body {
    font-family: sans-serif;
    padding: 10px;
}

h3 {
    color: #444;
    font-weight: bold;
    display: inline-block;
    padding-left:40px;
}

.list {
    padding: 10px;
    border: 4px solid #ECECEC;
    border-radius: 5px;
}

button {
    background-color: #3333CC;
    color: #FFF;
    border-radius: 5px;
    margin-left: 2px;
    padding-top:2px;
}

.list {
    max-width: 300px;
}

.credits {
    text-align: center;
    font-size: 8pt;
    color: #666;
}
